name: Run Scratch Task

on:
  schedule: # 必要であれば定期実行のコメントアウトを外す
    - cron: '0 15 31 12 *' # 日本時間 1月1日 00:00 (UTC 12月31日 15:00)
  workflow_dispatch: # 手動実行ボタンを表示
jobs:
  scratch-job01:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Script for Target
        env:
          SCRATCH_USERNAME: "supp0n"
          SCRATCH_PASSWORD: ${{ secrets.SCRATCH_PASSWORD }}
          TARGET_USER: "1zewqrt"
        run: node index.js
  scratch-job02:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run Script for Target
        env:
          SCRATCH_USERNAME: "supp0n"
          SCRATCH_PASSWORD: ${{ secrets.SCRATCH_PASSWORD }}
          TARGET_USER: "S_jansl7129"
        run: node index.js
